#createBookDetails input {
  margin: 0.6rem;
  width: 30%;
}
#createBook {
  text-align: center;
  border: solid 2px #bbb;
  margin: 2rem;
  width: 100% !important;
}
#createBookInputs {
  margin-left: 2rem;
  display: flex;
  justify-content: space-evenly;
}

#formInputs {
  display: flex;
  justify-content: space-between;
}
